$Midnight-Green: #0d636d;
$Light-Coral: #F67E7E;
$White: #FFFFFF;
$Rapture-Blue: #79C8C7;
$Police-Blue: #2C6269;
$Deep-Jungle-Green: #004047;
$Sacramento-State-Green: #012F34;
$Dark-Green: #002529;
$font: 'Livvic', sans-serif;